* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --zm-black: #000000;
    --zm-dark: #222222;
    --zm-light-dark: #4a4a4a;
    --zm-white: #ffffff;
    --zm-success: #4bc800;
    --zm-danger: #d82d34;
}

body {
    font-family: helvetica, sans-serif;
}

.debug #site_header {
    background-color: palevioletred;
}

.debug #site_main {
    background-color: paleturquoise;
}

.debug #site_main .container {
    background-color: peachpuff;
}

.debug [class^="col-"] {
    background-color: palegreen;
    padding: 1rem;
}

.debug .card {
    background-color: lightcyan;
    min-height: 48px;
}

.debug .card .main_tools{
    height: 100%;
    width: 50px;
}

.debug #site_footer {
    background-color: palegoldenrod;
}

/* #region Utilities */

/* background */

.bg-black {
    background-color: var(--zm-black);
}

.bg-dark {
    background-color: var(--zm-dark);
}

.bg-light-dark {
    background-color: var(--zm-light-dark);
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.col-2 {
    width: calc(100% / 14 * 2);
}

.col-3 {
    width: calc(100% / 14 * 3);
}

.col-1 {
    width: calc(100% / 14 * 7);
}

.col-8 {
    width: calc(100% / 14 * 8);
}

/* #endregion Utilities */

/* #region header */

#site_header {
    height: 40px;
    justify-content: end;
}

.screen_tools {
    position: relative;
    right: .25rem;
    top: .25rem;
}

.screen_tools button {
    padding: .25rem;
    border: none;
    border-radius: 5px;
    background-color: var(--zm-light-dark);
    color: var(--zm-white);
}

/* #endregion header */

/* #region main */

#site_main .container {
    height: calc(100vh - 120px);
    overflow-y: auto;
}

#site_main .row {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

#site_main [class^="col-"] {
    padding: .5rem;
}

#site_main .card {
    height: 145px;
    background-image: url(https://picsum.photos/seed/56/200/300);
    background-position: center;
    background-size: cover;
    position: relative;
}

#site_main .username {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.7);
    color: white;
    padding: .25rem;
}

/* #endregion main */


#site_footer {
    height: 80px;
    color: var(--zm-white);
}

#site_footer .row{
    /* align-items: center; */
    justify-content: space-between
}

#site_footer .container,
#site_footer .row,
#site_footer [class^="col-"],
#site_footer .card {
    height: 100%;
}

#site_footer .microphone,
#site_footer .webcam {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 .5rem;
    gap: 1rem;
}

#site_footer .input_tools {
    align-items: center;
    min-height: 100%;
}

#site_footer .main_tools {
    height: 100%;
    justify-content: space-around;
}

#site_footer .share_screen i{
    color: var(--zm-success);
}

#site_footer .main_tools > * {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#site_footer .end_meeting {
    height: 100%;
    justify-content: end;
    align-items: center;
    color: var(--zm-danger);
}